@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 40px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header {
    height: 90px;
}

.header__nav {
    margin-left: auto;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.menu__item {
    padding: 0 30px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.menu__link:hover {
    color: #bdae82;
}

.lang__hover {
    color: #bdae82;
}

.title {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    line-height: 120px;
}

.title_h2 {
    margin: 0 20px;
    font-size: 40px;
    line-height: 80px;
    color: #bdae82;
}

.section {
    box-sizing: border-box;
    padding: 100px 20px 0 20px;
}

.section_hero {
    height: 820px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
    padding: 160px 80px;
}

.hero__wrap {
    width: 500px;
}

.hero__descr {
    margin-top: 10px;
    width: 470px;
}

.button {
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    border: none;
    cursor: pointer;
}

.button_inactive {
    margin-top: 0;
    background-color: black;
    color: #bdae82;
    border: #bdae82 1px solid;
}

.divider {
    height: 2px;
    width: 274px;
    background-color: #bdae82;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__body {
    margin-top: 60px;
}

.skills__wrap {
    display: flex;
    justify-content: space-between;
}

.skills__item {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.skills__title {
    margin: 50px 0 20px;
    font-weight: 700;
}

.skills__descr {
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

.portfolio__buttons {
    margin: 0 auto;
    width: 897px;
}

.portfolio__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.portfolio__item {
    margin-top: 25px;
}

.video__wrap {
    background: url(./assets/img/video-player.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    height: 705px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video__button {
    background: none;
    border: none;
    cursor: pointer;
}