@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header {
    height: 90px;
    /* font-size: 20px; */
}

.header__nav {
    margin-left: auto;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.menu__item {
    padding: 0 30px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.menu__link:hover {
    color: #bdae82;
}

.lang__hover {
    color: #bdae82;
}

.container_hero {
    box-sizing: border-box;
    height: 820px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
    padding: 160px 80px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    line-height: 120px;
}

.section_hero {
    width: 500px;
}

.hero__descr {
    margin-top: 10px;
    width: 470px;
    /* font-size: 20px; */
    line-height: 40px;
}

.button {
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    border: none;
    /* font-size: 20px; */
}