@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

*::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
}

body {
    height: 100vh;
    background-color: #833535;
    position: relative;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: right / contain no-repeat url('./assets/img/background.jpg') ;
}

.header, .main, .footer {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 36px;
}

.btn_rules {
    height: 35px;
    width: auto;
    filter: invert(1) brightness(1.5);
    transition: .3s;
    cursor: pointer;
}

.btn_rules:hover {
    filter: invert(0.5);
}

.rules {
    box-sizing: border-box;
    position: fixed;
    display: none;
    opacity: 0;
    right: 10px;
    top: 80px;
    padding: 10px;
    color: white;
    background-color: #833535;
    width: 90%;
    max-width: 400px;
    border: 3px solid #1B1B1B;
    border-radius: 5px;
    z-index: 100;
    transition: opacity .3s;
}

.rules__main {
    text-align: center;
}

.rules__bold {
    font-weight: 700;
}

.rules__icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.rules__item {
    height: 40px;
    width: auto;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__tools__score {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.score__title {
    width: 200px;
    text-align: right;
}

.score {
    font-weight: 700;
    width: 200px;
    text-align: center;
}

.game {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.game__field {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin: 0 auto;
    
}

.game__cell {
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .3s;
    background-color: #1B1B1B;
    border-radius: 5px;
    border: 1px solid white;
}

.game__cell__item {
    border-radius: 5px;
    height: 100%;
    transition: opacity .3s;
}

.game__cell_2 {
    background-color: white;
    background-image: url('./assets/svg/cards/2.svg');
}

.game__cell_4 {
    background-color: white;
    background-image: url('./assets/svg/cards/4.svg');
}

.game__cell_8 {
    background-color: white;
    background-image: url('./assets/svg/cards/8.svg');
}

.game__cell_16 {
    background-color: white;
    background-image: url('./assets/svg/cards/16.svg');
}

.game__cell_32 {
    background-color: white;
    background-image: url('./assets/svg/cards/32.svg');
}

.game__cell_64 {
    background-color: white;
    background-image: url('./assets/svg/cards/64.svg');
}

.game__cell_128 {
    background-color: white;
    background-image: url('./assets/svg/cards/128.svg');
}

.game__cell_256 {
    background-color: white;
    background-image: url('./assets/svg/cards/256.svg');
}

.game__cell_512 {
    background-color: white;
    background-image: url('./assets/svg/cards/512.svg');
}

.game__cell_1024 {
    background-color: white;
    background-image: url('./assets/svg/cards/1024.svg');
}

.game__cell_2048 {
    background-color: white;
    background-image: url('./assets/svg/cards/2048.svg');
}

.game__cell_4096 {
    background-color: white;
    background-image: url('./assets/svg/cards/4096.svg');
}

.game__cell_8192 {
    background-color: white;
    background-image: url('./assets/svg/cards/8192.svg');
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__rss {
    text-align: right;
}

.link {
    text-decoration: none;
    transition: .5s;
}

.link:hover {
    color: black;
    text-shadow: rgb(0, 0, 0);
}

.modal {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    background-color: #833535;
    border: 2px solid #1B1B1B;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #1B1B1B, 0px -10px 10px #1B1B1B, 10px 0 10px #1B1B1B, -10px 0 10px #1B1B1B;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: opacity .3s;
}

.modal__input {
    width: 100%;
}

.modal__status, .modal__input__label {
    text-align: center;
}

.modal__status {
    font-size: 16px;
    line-height: 32px;
}

.modal__input__label, .modal__input__input {
    display: block;
    margin: 0 auto;
}

.modal__input__input {
    margin-top: 5px;
    width: 90%;
    max-width: 300px;
    height: 35px;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: #1B1B1B;
    transition: .3s;
}

.modal__input__input::placeholder {
    color: #833535;
}

.modal__input__input:hover {
    background-color: rgba(255, 255, 255, .75);
}

.modal__input__input:focus-visible {
    outline: none;
    background-color: #fff;
}

.modal__button {
    height: 35px;
    width: 150px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    background: white;
    color: #833535;
    cursor: pointer;
    text-transform: uppercase;
    transform: scale(1);
    transition: .3s;
}

.modal__button:hover {
    color: #1B1B1B;
    background-color: rgb(197, 194, 194);
}

.modal__button:active {
    transform: scale(.95);
}

.modal__records {
    width: 100%;
    max-width: 300px;
}

.modal__records__header, .records__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.modal__records__header {
    font-size: 14px;
}

.records__name, .records__score {
    text-align: center;
    color: rgba(255, 255, 255, .5);
    flex: 1;
}

.records__wrapper .records__name {
    text-align: left;
    color: #fff;
}

.records__wrapper .records__score {
    text-align: right;
    font-weight: 700;
    color: #fff;
}

.modal__records__title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.modal__records__body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 110px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.records__wrapper {
    box-sizing: border-box;
    position: relative;
    padding: 5px;
}

.records__wrapper::before {
    content: '';
    position: absolute;
    top: -5px;
    background-color: rgba(255, 255, 255, .5);
    width: 280px;
    height: 1px;
}

.records__wrapper:hover {
    background-color: rgba(255, 255, 255, .1);
}

.continue {
    position: fixed;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    background-color: #cf5555;
    border: 2px solid #1B1B1B;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #1B1B1B, 0px -10px 10px #1B1B1B, 10px 0 10px #1B1B1B, -10px 0 10px #1B1B1B;
    padding: 20px 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transition: opacity .3s;
}

.continue::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: -5;
}

.continue__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 450px) {

    .title {
        font-size: 26px;
    }

    .game__tools__score {
        font-size: 24px;
    }

    .score__title, .score {
        width: 130px;
    }

    .game__field {
        grid-template-rows: repeat(4, 60px);
        grid-template-columns: repeat(4, 60px);
    }

    .footer {
        font-size: 12px;
        padding-bottom: 60px;
    }
}

