@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}



.container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper {
    top: -2vh;
    left: -2vw;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 105vh;
    width: 105vw;
    background: no-repeat center / cover url('../img/bg.jpeg');
    filter: blur(3px);
    z-index: 1;
    overflow: hidden;
}

.header, .main, .footer {
    z-index: 5;
}
.header {
    padding: 20px;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.main {
    flex: 1;
    display: flex;
}

.game {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 120px);
    gap: 10px;
}

.card {
    box-sizing: border-box;
    position: relative;
    transform: scale(1);
    transition: transform .3s;
}

.card:active {
    transform: scale(.95);
}

.card__item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: hsl(54, 100%, 50%);
}

.tools {
    width: 400px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    transition: .5s;
}

.link:hover {
    color: #8b8b8b;
    text-shadow: rgb(0, 0, 0);
}

