* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1440px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.quote {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.quote__image {
    display: block;
    margin: 0 auto;
    width: 825px;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
}

.quote__wrap {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    width: 825px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
}

.button {
    margin-top: 20px;
    border: none;
    width: 220px;
    height: 55px;
}